html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-8deg);
}

p, a {
  color: #c09;
}

p {
  max-width: 19em;
  transform: rotate(-5deg);
}

.btn-ghost {
  border-width: 3px;
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: #c09;
  border-color: #990073;
  opacity: 1;
  color: #c09;
}

.background {
  background-image: repeating-linear-gradient(-36deg, #b3fbff, #d4fdff 15px);
  border-top: solid 8px #b3fbff;
  border-bottom: solid 8px #b3fbff;
}

h1, p, a {
  text-shadow: 1px 1px 1px gray;
}

.ice-cream {
  width: 150px;
}

.ice-cream-cone {
  position: relative;
  min-height: 480px;
}

.cherry {
  top: 1em;
  position: absolute;
  z-index: 10000;
}

.cone {
  position: absolute;
  bottom: 1.5em;
}

.mint-chip {
  bottom: 6em;
  position: absolute;
}

.chocolate-chip {
  top: 7.5em;
  right: 2.5em;
  position: absolute;
  z-index: 100;
}

.vanilla-fudge {
  top: 4em;
  position: absolute;
  z-index: 1000;
}
